<div *ngIf="filter" class="filter-item">
  <span class="filter-title" (click)="dropdownToggle()">{{filter.name}}
    <i *ngIf="isDropped" class="fas fa-caret-up"></i>
  </span>
  <div class="filter-line">
    <div *ngFor="let field of filter.fields; trackBy: field" class="filter-line hidden" [ngClass]="{'dropped': isDropped}">
      <input type="radio" name="filter-category" id="radio-{{field}}" (change)="onFilterChange(filter.name, field)" [checked]="field === checked">
      <label for="radio-{{field}}">{{field}}</label>
    </div>
  </div>
</div>
