:host{
    // overflow: hidden; 
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;
  }
  
  h1 { font-family: Lato; }  
  
  .backdrop{
     // position: fixed;
  //   overflow: hidden; 
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    opacity:1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;
  }
  
  .box{
    position: relative;
    background:white;
  //  overflow: hidden; 
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
   border-radius: 1px;
   z-index: 10;
  }


  body {
    // background: $bg-color;
    // font-family: $main-font-regular;
  overflow: hidden;
  }
  