<div class="filter-item">
  <span class="filter-title">Sizes</span>
  <div class="filter-line">
    <label class="checkbox"
      >Small <input type="checkbox" (change)="toggleCheck($event)" /><span
        class="custom-checkbox"
      ></span>
    </label>
  </div>
  <div class="filter-line">
    <label class="checkbox"
      >Medium <input type="checkbox" (change)="toggleCheck($event)" /><span
        class="custom-checkbox"
      ></span>
    </label>
  </div>
  <div class="filter-line">
    <label class="checkbox"
      >Large <input type="checkbox" (change)="toggleCheck($event)" /><span
        class="custom-checkbox"
      ></span>
    </label>
  </div>
  <div class="filter-line">
    <label class="checkbox"
      >X Large <input type="checkbox" (change)="toggleCheck($event)" /><span
        class="custom-checkbox"
      ></span>
    </label>
  </div>
</div>