<div class="filter-item">
  <span class="filter-title">Sizes</span>
  <div class="filter-line">
    <label class="checkbox">
      <span class="custom-checkbox"></span> Small 
      <input type="checkbox" (change)="toggleCheck($event)" />
    </label>
  </div>
  <div class="filter-line">
      <label class="checkbox">
          <span class="custom-checkbox"></span> Medium 
          <input type="checkbox" (change)="toggleCheck($event)" />
        </label>
  </div>
  <div class="filter-line">
      <label class="checkbox">
          <span class="custom-checkbox"></span> Large 
          <input type="checkbox" (change)="toggleCheck($event)" />
        </label>
  </div>
  <div class="filter-line">
    <label class="checkbox">
      <span class="custom-checkbox"></span> X Large 
      <input type="checkbox" (change)="toggleCheck($event)" />
    </label>
  </div>
</div>