<div class="main-container">
    <input [ngClass]="{'active-search': isSearchOpen, 'unactive-search': !isSearchOpen}" placeholder="Search"/>
    <section class="big-header">
      <div class="burger">
          <button class="burger-button" (click)="showMenu = !showMenu"><i class="fas fa-bars"></i></button>
      </div>
      <div class="logo">
        <a routerLink="/"><img src="assets/img/logo.png" alt="shopy logo"></a>
      </div>
      <div class="main-nav">
        <nav class="header-nav-bar hidden-menu" [ngClass]="{'active-menu': showMenu}">
          <a class="nav-item" routerLink="/">Home</a>
          <a class="nav-item" routerLink="/products">Products</a>
          <a class="nav-item" routerLink="/hot-deals">Hot Deals</a>
          <a class="nav-item" routerLink="/about">About</a>
          <a class="nav-item" routerLink="/contact">Contact</a>
        </nav>
      </div>
      <div class="header-right-bar">
        <button class="search-button" (click)="onSearchBtnClick()"><i class="icon-search"></i></button>
        <a routerLink="/user"><i class="fas fa-user-tie"></i></a>
        <div class="cart">
          <div class="cart-items">
            <p>0</p>
          </div>
          <a routerLink="/cart"><i class="fas fa-shopping-basket"></i></a>
        </div>
      </div>
    </section>
  </div>
