@import '../../../../scss/variables';
@import '../../../../scss/fonts';
@import '../../../../scss/reset';
@import '../../../../scss/mixins';

.main-container {
    padding: 0 $content-padding;
    background-color: $bg-color;
  }

.join {
    padding: 30px;
    display: flex;
    background-color: $white-color;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 110px;
}

.letter {
    color: $primary-color;
    font-family: $main-font-bold;
    font-size: 18px;
    margin-right: 30px;
}

.info, .register {
    display: flex;
}

.button-join {
    width: 100px;
    height: 50px;
    color: $white-color;
    background-color: $primary-color;
    font-family: $main-font-bold;

    &.disabled {
        background-color: $disabled-color;
        cursor: not-allowed;
    }

}

.message {
    font-family: $main-font-italic;
    color: $black-color;
    font-weight: bold;
    font-size: 14px;
}


input {
    border-radius: 3px;
    background: url(../../../../assets/img/mail-icon.png) no-repeat scroll 7px 7px;
    padding-left:30px;
    outline: none;
    z-index: 2;
    justify-content: center;

    &.ng-valid {
        box-shadow: 0px 0px 12px 1px $primary-color;
    }

    &.ng-invalid.ng-touched {
        box-shadow: 0px 0px 12px 1px rgba(66,66,66,0.74);
    }
}

::placeholder {
    color: $font-color;
    font-size: 14px;
    font-family: $main-font-italic;
    font-weight: bold;
}

span {
    font-size: 12px;
    color: $font-color;
    position: absolute;
    padding-top: 26px;
}

form {
    display: flex;
}

.input-block {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    margin-right: 10px;
}

.msg {
    color: $primary-color;
    font-family: $main-font-bold;
    font-size: 18px;
    text-transform: uppercase;
}

@include laptop {
    .main-container {
        padding: 0;
    }
    .info {
        flex-direction: column;
    }
    .info {
        align-items: center;
    }

    .button-join {
        height: 40px;
    }

    form {
        margin-top: 10px;
    }

    .input-block {
        margin-right: 10px;
    }
}

@include mobile {
    .message {
        font-size: 16px;        
    }
}
