
<div class="main-container">
    <section class="big-header">
      <div class="main-nav">
          <div class="logo">
              <a rooterlink="/"><img src="assets/img/logo.png" alt="shopy logo"></a>
            </div>
            <nav class="header-nav-bar">
              <a class="nav-item" rooterlink="/">Home</a>
              <a class="nav-item" rooterlink="/products">Products</a>
              <a class="nav-item" rooterlink="/hot-deals">Hot Deals</a>
              <a class="nav-item" rooterlink="/about">About</a>
              <a class="nav-item" rooterlink="/contact">Contact</a>
            </nav>
      </div>
        
  
      <div class="header-right-bar">
        <a href="#"><i class="icon-search"></i></a> 
        <a href="#"><i class="fas fa-user-tie"></i></a> 
        <div class="cart">
          <div class="cart-items">
            <p>5</p>
          </div>
          <a href="#"><i class="fas fa-shopping-basket"></i></a> 
        </div>
      </div>
    </section>
  </div>
