@import '../../../../sass/variables';
@import '../../../../sass/fonts';
@import '../../../../sass/reset';

.main-container {
  padding: 0 $content-padding;
  background-color: $white-color;
}

.main-nav {
  display: flex;
}

.big-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 42px;
  nav {
    padding-top: 10px;
    a:nth-child(3) {
      white-space: nowrap;
    }
  }
  a {
    &:active, &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
}

.header-nav-bar {
  padding-top: 8px;
  a {
    padding-right: 40px;
    &:active, &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
}

.logo {
  margin-right: 80px;
}

.header-right-bar {
  padding-top: 13px;
  display: flex;
  position: relative;
  i {
    font-size: 20px;
    padding-left: 33px;
    &:hover, &:active {
      color: $primary-color;
    }
  }
}

.cart {
  position: relative;
}

.cart-items {
  margin: 0 auto;
  position: absolute;
  bottom: 26px;
  left: 35px;
  border-radius: 50%;
  background: $black-color;
  width: 18px;
  height: 18px;
  color: $white-color;
  font-size: 12px;
  text-align: center;
  display: none;
}