@import '../../../../scss/variables';
@import '../../../../scss/fonts';
@import '../../../../scss/reset';
@import '../../../../scss/mixins';

app-zoomit {
  display: flex;
  z-index: 10;
  position: relative;
}

.main-container {
  padding: 0 $content-padding;
  background-color: $bg-color;

  &-wrapper {
    padding: 0 $wrapper-padding;
    margin: 95px 0 134px;
    display: flex;
  }
}

.image-container {
  min-width: 330px;
  height: 414px;
  background: $primary-color;
  margin-top: 8px;
  margin-right: 8%;
}

.details-container {
  &-info {

    h2 {
      color: $primary-color;
      font-family: $main-font-bold;
      font-size: 53px;
      text-transform: uppercase;
      margin-bottom: 4px;
    }

    h5 {
      color: $font-color;
      font-family: $main-font-regular;
      font-size: $font-size-heading;
      line-height: 30px;
      margin-bottom: 24px;
    }

    p {
      color: $font-color;
      font-family: $main-font-regular;
      font-size: $font-size-medium;
      line-height: 30px;
      margin-bottom: 80px;
    }
  }

  &-order {
    height: 170px;
    background: $primary-color;
  }
}

