<div *ngIf="productDetails">
  <div class="main-container">
    <div class="main-container-wrapper">
      <div class="image-container">
      </div>
      <div class="details-container">
        <div class="details-container-info">
          <h2>{{productDetails.title}}</h2>
          <h5>Half Jacket + Skiny Trousers + Boot leather</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text
            of the printing and typesetting industry</p>
        </div>
        <div class="details-container-order">
        </div>
      </div>
    </div>
  </div>
</div>
