<!-- <app-heading [alertText]="'Your'" [headingText]="'cart'"></app-heading> -->
<!-- <div class="heading-wrapper">
<h2><span class="first-word">YOUR</span>CART</h2>
</div> -->

 <!-- <div class="product" *ngFor="let product of products"> 
    <app-product-item-for-cart [product]="product"></app-product-item-for-cart>
   </div>  -->

<!-- <div *ngIf="product" class="product-item-wrapper" [routerLink]="['/products/',product.id]">
  <div *ngIf="isOutOfStock" class="out-of-stock-logo"></div>
  <div class="product-item-short" [ngClass]="{'gray-scale': isOutOfStock}" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()">
    <div class="preview-img-short lazy-load" [attr.data-bg-src]="currentThumbnail" [ngStyle]="{'background-image': swatchThumbnail}"></div>
    <hr>
    <div class="main-details">
      <h2>{{product.name}}</h2>
      <div class="item-details">
        <div *ngIf="!isHovered" class="stars">
          <i *ngFor="let rating of starsArray; let i = index" class="fas fa-star" [ngClass]="{'rating': i + 1 <= product.rating}"></i>
        </div>
        <p *ngIf="!isHovered" class="price">{{product.price | currency:'USD'}}</p>
        <a *ngIf="isHovered" href="#">
          <p class="cart" [ngClass]="{'added': product.addedToCart}"><span><i class="fas fa-cart-plus"></i></span>
            add
            to cart</p>
        </a>
      </div>
    </div>
  </div>
</div> -->

 <!-- <div class="cart">
<div class="prod img-product">
  <div>Product</div>
  <div *ngFor="let product of products">
     <img src="https://assets.reebok.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/6e8e3e5e2c564121ad40a984011eae9c_9366/Workout_Plus_ATI_90s_Multicolor_DV5493_01_standard.jpg">  -->
   <!-- </div>
    </div>
    <div class="prod name-of-product">
      <div>Name of product</div> 
       <div *ngFor="let product of products">{{product.name}}</div> 
    </div>
    <div class="prod price-of-product">
      <div>Price</div> 
      <div *ngFor="let product of products">{{product.price}}</div> 
    < </div>
    <div class="prod quantity-product">
      <div>Quantity</div>
      <div *ngFor="let product of products">
        <div class="quantity"> 
       <button class="button-plus" (click)="DecreaseVal(prod)">+</button>
      <div>{{product.price}}</div>
      <button class="button-minus" (click)="IncreaseVal(prod)">-</button> 
      < </div>
      </div>
    </div>
    <div class="prod remove">
      <div>Remove</div>
    </div>
    <div class="prod total">
      <div>Total</div>
    </div>
  </div> 
    </div> 
      </div> -->