@import '../../../../scss/mixins';
@import '../../../../scss/variables';
@import '../../../../scss/fonts';
@import '../../../../scss/reset';

hr {
  margin: 0 auto;
  border-top: $main-border;
}

i, a {
  &:hover, &:active {
  color: $primary-color;
  cursor: pointer;
  }
}

.small-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 16px;
  max-width: $main-container-width;
  margin: 0 auto;
}

.header-left-bar {
  display: flex;
  flex-direction: row;
}

.main-container {
  padding: 0 $content-padding;
  background-color: $white-color;
}

.mail {
  margin-right: 15px;
  color: $black-color;
  font-size: $font-size-small;

  img {
    margin-right: 9px;
  }
}

.pnone-number {
  color: $black-color;
  font-size: $font-size-small;

  img {
    margin-right: 9px;
  }
}

.social-media {
  a {
  color: $black-color;
  font-size: $font-size-regular;
  margin-left: 20px;
  }
}

.logo {
  margin-right: 80px;
}

.header-right-bar {
  padding-top: 13px;
  display: flex;
  position: relative;

  i {
    font-size: $font-size-large;
    padding-left: 33px;
  }
}

.cart {
  position: relative;
}

.cart-items {
  margin: 0 auto;
  position: absolute;
  bottom: 26px;
  left: 35px;
  border-radius: 50%;
  background: $black-color;
  width: 18px;
  height: 18px;
  color: $white-color;
  font-size: $font-size-small;
  text-align: center;
  display: none;
}

@include tablet {
  .small-header {
    flex-wrap: wrap;
  }

  .header-left-bar {
    flex-direction: column;
  }
}

@include mobile {
  .header-left-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;

    .mail {
      margin-right: 0;
    }
  }

  .social-media {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;

    a {
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
