@import "../../../../scss/variables";
@import "../../../../scss/fonts";
@import "../../../../scss/reset";
@import "../../../../scss/mixins";

.main-wrapper {
  padding: 0 $content-padding;
  background-color: $bg-color;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: $main-container-width;
  position: relative;
}

.arrow-left {
  position: absolute;
  left: -15px;
  z-index: 1;

  &:hover {
    color: #ff5912;
  }
}

.arrow-right {
  position: absolute;
  right: -15px;
  z-index: 1;

  &:hover {
    color: #ff5912;
  }
}

.fas {
  font-size: 30px;
  cursor: pointer;
  border: 2px solid #afbbc580;
  border-radius: 50%;
  padding: 7px 14px;
  background: $bg-color;
  color: #afbbc580;

  &:hover {
    border: 2px solid #ff591266;
    color: #ff591266;
  }
}

.slider-container-main {
  width: 100%;
  overflow: hidden;
  padding: 15px 0;
}

.slides-container {
  display: flex;
  transition: 0.8s;
  // justify-content: space-between;
}

.item {
  margin-right: 10px;
}

@include tablet {
  .fas {
    display: none;
  }

  .slider-container-main {
    overflow-x: auto;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: none;
  }
}
