<div class="chose-container">
    <hr>
    <div class="chose-container-wrapper">
      <div class="chose-container-sizes">
        <p class="title">Choos Size</p>
        <div *ngFor="let size of product.sizes; let i = index">
          <button (click)="onChooseSize(size, i)" [ngClass]="{'selectedSize': i === selected}">{{size}}</button>
          <span *ngIf="i !== product.sizes.length-1">-</span>
        </div>
      </div>
      <div class="chose-container-quantity">
        <p class="text">Choose Quantity</p>
        <button class="button-plus" (click)="increaseQuantity()">+</button>
        <p class="quantity">{{productConfiguration?.count}}</p>
        <button class="button-minus" (click)="decreaseQuantity()">-</button>
      </div>
    </div>
    <div class="colors">
      <p class="text">Choose Color</p>
      <div class="swatch" *ngFor="let swatch of product.swatches let i = index">
        <div (click)="onChooseColor(swatch, i)" [ngClass]="{'selectedSwatch': i === selectedSwatch}" class="color" [style.background-color]="swatch.color"></div>
      </div>
    </div>
  </div>

  <div class="order-container">
    <hr>
    <div class="order-container-wrapper">
      <div class="price">
        <p>Price : {{productConfiguration.price | currency:'USD':true}}</p>
      </div>
      <div class="order">
          <div *ngIf="!product.addedToCart; else viewInCart"><button disabled="true" *ngIf="!disableButton(); else ableAddToCard" class="disabled" (click)="toggleCart()"><i class="fas fa-cart-plus" [ngClass]="{'added-to-cart': product?.addedToCart}"></i><span class="tooltiptext">Choose size and color</span></button></div>
          <i *ngIf="wishListEnabled" class="to-wish-list" (click)="toggleWishList()" [ngClass]="{ 'added-to-wishlist': product?.addedToWishList}"></i>
          <button [routerLink]="['/order-page']" class="order-button">
            <span>
              Order Now
            </span>
        </button>
      </div>
    </div>
  </div>

<ng-template #ableAddToCard>
  <button (click)="toggleCart()"><i class="fas fa-cart-plus" [ngClass]="{'added-to-cart': product?.addedToCart}"></i></button>
</ng-template>
<ng-template #viewInCart>
    <p (click)="addToCart()" class="cart added"><span>view in cart</span><i class="fas fa-cart-plus"></i></p>
</ng-template>
