@import '../../../../../scss/variables';
@import '../../../../../scss/fonts';
@import '../../../../../scss/reset';
@import '../../../../../scss/mixins';


hr {
  border: 1px solid #edeff1;;
}

.chose-container {
  .chose-container-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    flex-wrap: wrap;

    p {
      font-family: $main-font-regular;
      color: $black-color;
    }

    .selectedSize {
      transform: scale(1.2);
      color: $primary-color;
    }

    button {
      font-family: $main-font-regular;
      color: $black-color;
      opacity: 0.82;
      font-size: 18px;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }

      &:active {
        color: $primary-color;
      }
    }
  }
}

.chose-container-sizes {
  display: flex;
  margin-top: 15px;
  margin-right: 50px;

  .title {
    margin-right: 15px;
  }

  button {
    background: $white-color;
    text-transform: uppercase;
    cursor: pointer;
  }

  span {
    padding: 0 5px;
  }
}

.chose-container-quantity {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 15px;
}

.button-plus {
  background: $white-color;
  cursor: pointer;
}

.button-minus {
  background: $white-color;
  cursor: pointer;
}
.quantity {
  font-family: $main-font-regular;
  color: $black-color;
}

.order-container {
  margin-top: 40px;
}

.order-container-wrapper {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price {
  display: flex;
  align-items: center;

  p {
    font-family: $main-font-bold;
    color: $black-color;
    font-size: 20px;
  }
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;

  i {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-size: 20px;
    cursor: pointer;

    &:active, &:visited {
      color: $primary-color;
    }
  }
}

.added-to-cart {
  color: $primary-color;
}

.to-wish-list::before {
  font-weight: 400;
  content: "\f004";
  color: $black-color;
}

.added-to-wishlist::before {
  font-weight: 900;
  content: "\f004";
  color: $primary-color;
}

.order-button {
  color: $white-color;
  font-family: $main-font-regular;
  background: $primary-color;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 50px;
  min-width: 154px;
  cursor: pointer;

  span {
    vertical-align: text-top;
  }
}
