:host{
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;
  }

  .backdrop{
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    opacity:1;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  
  .box{
    position: relative;
    background:white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  }

