<div class="main-container">
  <div class="footer-container">
    <div class="footer-container-logo">
      <div routerLink="/" class="logo"></div>
      <p>&#169; 2019 Shopy </p>
    </div>
    <div class="footer-container-nav">
      <ul class="about-us">
        <a routerLink="/about"><li>about us</li></a>
        <a routerLink="/contact"><li>contact us</li></a>
        <a routerLink="/support"><li>support</li></a>
      </ul>
      <ul class="our-feed">
        <a routerLink="/feed"><li>our feed</li></a>
        <a routerLink="/policy"><li>terms and conditions</li></a>
        <a routerLink="/privacy"><li>our privacy</li></a>
      </ul>
      <ul class="join-us">
          <a routerLink="/join"><li>join us</li></a>
          <a routerLink="/support-live"><li>live support</li></a>
      </ul>
    </div>
    <div class="footer-container-payment">
      <h2>Payment Methods</h2>
      <div class="footer-container-payment-icon">
        <a target="_blank" href={{footerLinks.americanExpURL}}><i class="fab fa-cc-amex"></i></a>
        <a target="_blank" href={{footerLinks.payPalURL}}><i class="fab fa-cc-paypal"></i></a>
        <a target="_blank" href={{footerLinks.visaURL}}><i class="fab fa-cc-visa"></i></a>
        <a target="_blank" href={{footerLinks.masterCardURL}}><i class="fab fa-cc-mastercard"></i></a>
        <a target="_blank" href={{footerLinks.amazonURL}}><i class="fab fa-cc-amazon-pay"></i></a>
      </div>
    </div>
  </div>
</div>
