<aside class="all-products-filter">
  <div class="filter-item"><span class="filter-title">Categories</span>
    <div class="filter-line">
      <input type="radio" name="filter-category">
      <label>Men</label>
    </div>
    <div class="filter-line">
      <input type="radio" name="filter-category">
      <label>Women</label>
    </div>
    <div class="filter-line">
      <input type="radio" name="filter-category">
      <label>Children</label>
    </div>
    <div class="filter-line">
      <input type="radio" name="filter-category">
      <label>Hot Deals</label>
    </div>
  </div>
  <div class="filter-item"><span class="filter-title">Price Filter</span>
    <div class="filter-line">
      <input type="range">
    </div>
    <div class="filter-line filter-line-price">
      <div class="filter-price-from"><span>From</span>
        <input type="text">
      </div>
      <div class="filter-price-to"><span>To</span>
        <input type="text">
      </div>
    </div>
  </div>
  <div class="filter-item"><span class="filter-title">Sizes</span>
    <div class="filter-line">
      <label class="checkbox">Small
        <input type="checkbox"><span class="custom-checkbox"></span>
      </label>
    </div>
    <div class="filter-line">
      <label class="checkbox">Medium
        <input type="checkbox"><span class="custom-checkbox"></span>
      </label>
    </div>
    <div class="filter-line">
      <label class="checkbox">Large
        <input type="checkbox"><span class="custom-checkbox"></span>
      </label>
    </div>
    <div class="filter-line">
      <label class="checkbox">X Large
        <input type="checkbox"><span class="custom-checkbox"></span>
      </label>
    </div>
  </div>
  <div class="filter-item"><span class="filter-title">Brands</span>
    <div class="filter-line">
      <label class="checkbox">Reebok
        <input type="checkbox"><span class="custom-checkbox"></span>
      </label>
    </div>
    <div class="filter-line">
      <label class="checkbox">Addidas
        <input type="checkbox"><span class="custom-checkbox"></span>
      </label>
    </div>
    <div class="filter-line">
      <label class="checkbox">Nike
        <input type="checkbox"><span class="custom-checkbox"></span>
      </label>
    </div>
    <div class="filter-line">
      <label class="checkbox">Active
        <input type="checkbox"><span class="custom-checkbox"></span>
      </label>
    </div>
  </div>
</aside>
