<div class="main-container">
    <section class="small-header">
      <div class="header-left-bar">
        <div class="mail">
          <img src="assets/img/mail-icon.png" alt="mail icon">
          <a href="mailto:info@shopy.com">info@shopy.com</a>
        </div>
        <div class="pnone-number">
          <img src="assets/img/phone-icon.png" alt="phone icon">
          <a href="tel:+14535553996">453 - 5553 - 996</a>
        </div>
      </div>
        <div class="social-media">
            <a href={{headerLinks.facebookURL}} target="_blank"><i class="icon-facebook"></i></a>
            <a href={{headerLinks.twitterURL}} target="_blank"><i class="icon-twitter"></i></a>
            <a href={{headerLinks.googlePlusURL}} target="_blank"><i class="icon-google-plus"></i></a>
            <a href={{headerLinks.linkedinURL}} target="_blank"><i class="icon-linkedin"></i></a>
        </div>
    </section>
  </div>
  <hr>
