@import '../../../../scss/variables';
@import '../../../../scss/fonts';
@import '../../../../scss/reset';
@import '../../../../scss/mixins';

:host{
    display:block;
    padding:20px;
  }

  .close {
    display: flex;
    justify-content: flex-end;
  }

  h2 {
    color: $black-color;
    font-family: $main-font-bold;
    font-size: $font-size-heading-large;
    text-transform: uppercase;
    
    .first-word {
      color: $primary-color;
    }
  }

  .heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 3% 0 3%;
    margin: 20px 0px 20px;
    text-align: center;
  }

  span {
      margin: 15px;
  }