<br>
<div>
  <app-product-item [initShow]="initShowTest" [style.width.%]="25"></app-product-item>
  <app-product-item [initShow]="initShowTest" [style.width.%]="25"></app-product-item>
  <app-product-item [initShow]="initShowTest" [style.width.%]="25"></app-product-item>
  <app-product-item [initShow]="initShowTest" [style.width.%]="25"></app-product-item>
</div>
<br>
<div>
  <app-product-item [initShow]="!initShowTest" [style.width.%]="33"></app-product-item>
  <app-product-item [initShow]="!initShowTest" [style.width.%]="33"></app-product-item>
  <app-product-item [initShow]="!initShowTest" [style.width.%]="33"></app-product-item>
</div>
<br>