<br>
<div class="template">
  <app-product-item [product]="product" [style.width.%]="25"></app-product-item>
  <app-product-item [product]="product" [style.width.%]="25"></app-product-item>
  <app-product-item [product]="product" [style.width.%]="25"></app-product-item>
  <app-product-item [product]="product" [style.width.%]="25"></app-product-item>
</div>
<br>
<div class="template">
  <app-product-item-short [product]="product" [style.width.%]="33"></app-product-item-short>
  <app-product-item-short [product]="product" [style.width.%]="33"></app-product-item-short>
  <app-product-item-short [product]="product" [style.width.%]="33"></app-product-item-short>
</div>
<br>