<app-slideshow></app-slideshow>
<app-heading [alertText]="'new'" [headingText]="'Arrivals'"></app-heading>
<app-carousel *ngIf="products.length">
  <app-carousel-item *ngFor="let product of products">
    <app-product-item (addItemToCart)="cartHandler($event)" (addItemToWishList)="wishListHandler($event)" [product]="product"></app-product-item>
  </app-carousel-item>
</app-carousel>
<div class="main-container">
  <div class="row-sb">
    <app-advertising-area *ngFor="let banner of banners" [content]="banner.htmlSnippet"></app-advertising-area>
  </div>
</div>

<app-recently-viewed *ngIf="recentlyViewed.length" [products]="recentlyViewed"></app-recently-viewed>

<ng-container *ngIf="wishListEnabled">
  <div class="main-container">
    <app-wish-list *ngIf="wishList.length" [products]="wishList"></app-wish-list>
  </div>
</ng-container>


<app-join-us></app-join-us>
