@import '../../../../../../scss/variables';
@import '../../../../../../scss/fonts';
@import '../../../../../../scss/reset';
@import '../../../../../../scss/mixins';

.checkbox {
  position: relative;
  display: block;
  padding-left: 40px;

  input[type="checkbox"] {
    display: none;

    &:checked+.custom-checkbox:before {
      border: 4px solid $primary-color;
    }
  }

  .custom-checkbox {
    position: absolute;
    left: 0;

    &:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: $bg-color;
    }
  }
}