<div *ngIf="filter" class="filter-item">
  <span class="filter-title" (click)="dropdownToggle()">{{filter.name}}
    <i *ngIf="isDropped" class="fas fa-caret-up"></i>
  </span>
  <div *ngFor="let field of filter.fields" class="filter-line hidden" [ngClass]="{'dropped': isDropped}">
    <label for="checkbox-{{field}}" class="checkbox" (change)="onFilterChange(filter.name, field)">{{field}}
      <input id="checkbox-{{field}}" type="checkbox" [checked]="checkField(field)"/>
      <span class="custom-checkbox"></span>
    </label>
  </div>
</div>