<div *ngIf="products?.brand" class="filter-item">
  <span class="filter-title">{{products?.category}}</span>
  <div *ngFor="let brand of products?.brands" class="filter-line">
    <label class="checkbox" (change)="toggleCheck($event)"
      >{{brand}} <input type="checkbox" /><span class="custom-checkbox"></span>
    </label>
  </div>
</div>
<!-- <div class="filter-item">
    <span class="filter-title">Brands</span>
    <div class="filter-line">
    <label class="checkbox"
      >Addidas <input type="checkbox" (change)="toggleCheck($event)" /><span
        class="custom-checkbox"
      ></span>
    </label>
  </div>
</div> -->