<app-lazy-load>
  <div *ngIf="product" class="product-item-wrapper" [routerLink]="['/products/',product.id]">
    <div *ngIf="isOutOfStock" class="out-of-stock-logo"></div>
    <div class="product-item" [ngClass]="{'gray-scale': isOutOfStock, 'hovered': isHovered}" (mouseover)="onMouseOver()"
      (mouseleave)="onMouseLeave()">
      <div class="product-item-img lazy-load" [attr.data-bg-src]="currentThumbnail" [ngStyle]="{'background-image': swatchThumbnail}"></div>
      <h2>{{product.name}}</h2>
      <div class="bottom-content">
        <p *ngIf="!isHovered" class="price">{{product.price | currency:'USD'}}</p>
        <div *ngIf="isHovered">
          <div *ngIf="product.sizes.length">
            <p class="sizes">sizes : <span *ngFor="let size of product.sizes">{{size}} <span>-</span></span></p>
          </div>
          <div class="colors" (mouseleave)="onMouseLeaveColor()">
            <div class="swatch" *ngFor="let swatch of product.swatches" (mouseover)="onSwatchChange(swatch)">
              <div class="color" [style.background-color]="swatch.color"></div>
            </div>
          </div>
          <hr>
          <div class="icons">
            <a *ngIf="!product.addedToCart; else viewInCart"><i class="fas fa-cart-plus" (click)="addToCart()"></i></a>
            <i *ngIf="wishListEnabled" class="to-wish-list" (click)="addToWishList()" [ngClass]="{ 'added-to-wishlist': product.addedToWishList}"></i>
         </div>
        </div>
      </div>
    </div>
  </div>
</app-lazy-load>

<ng-template #viewInCart>
    <p class="cart added"><span><i class="fas fa-cart-plus"></i></span>
      view in cart
    </p>
</ng-template>