@import '../../../../scss/mixins';
@import '../../../../scss/variables';
@import '../../../../scss/fonts';
@import '../../../../scss/reset';

.product-item {
  position: relative;
  background-color: $white-color;
  max-width: 270px;
  height: 365px;
  text-align: center;
  padding: 34px 10% 20px;
  user-select: none;
  
  h2 {
    font-family: $main-font-bold;
    font-size: $font-size-heading;
    padding-top: 28px;
    padding-bottom: 24px;
  }

  p {
    font-family: $main-font-bold;
    font-size: $font-size-heading;
    color: $primary-color;
  }
}

.bottom-content {
  position: relative;
  bottom: 0;
}

.preview-img-full {
  background: url('../../../../assets/img/default.png') no-repeat center;
  background-size: contain;

  img {
    width: 100%;
    max-height: 100%;
  }
}

.product-item {
  &.hover {
    padding-bottom: 40px;
    outline: none;
    cursor: pointer;
    
    h2 {
      color: $primary-color;
      padding-top: 17%;
      padding-bottom: 10%;
    }

    p {
      font-family: $main-font-bold;
      font-size: $font-size-regular;
      color: $black-color;
    }

    hr {
      border-top: $main-border;
      margin: 0 16%;
    }
  }
}

.preview-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 90px;
  width: 100%;
}

.sizes {
  span:last-child {
    span {
      display: none;
    }
  }
  
  &.invisible {
    display: none;
  }
}

.colors {
  display: flex;
  justify-content: center;
  margin: 12% 0 16%;
}

.color {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 2px;
}

.icons {
  margin-top: 15%;
  font-size: $font-size-large;

  i {
    padding: 0 7%;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
  }
}

.added-to-cart {
  color: $primary-color;
}

.to-wish-list::before {
  font-weight: 400; 
  content: "\f004";
  color: $black-color;
}

.added-to-wishlist::before {
  font-weight: 900; 
  content: "\f004";
  color: $primary-color;
}

.gray-scale{
  filter: grayscale(1);
  opacity: 0.5;
}

.out-of-stock {
  top: -39%;
  right: 0;
  width: 42%;
  height: 100%;
  position: absolute;
  background: url('../../../../assets/img/out_stock_en.png') no-repeat center;
  background-size: contain;
  transform: rotate(29deg);
  z-index: 10;
}

.pulse {
  animation: 
    pulse .5s,
    opacityBorn 1s;
}
.opacity {
  animation: 
    opacityBorn 1s;
}

@keyframes pulse {
  0% {
    transform: scale(.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes opacityBorn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@include tablet {
  .product-item {
    position: relative;
  }
  .bottom-content {
    position: absolute;
    bottom: 0;
  }
}