@import "~bootstrap/dist/css/bootstrap.css";
@import "./scss/mixins";
@import "./scss/variables";
@import "./scss/fonts";
@import "./scss/reset";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.error {
  background-color: red;
  color: white;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}

.error button {
  background-color:orangered;
  color: white;
  outline: none;
}

.loading-screen-wrapper {
  z-index: 100000;
  position: fixed;
  background-color: $bg-color;
  width: 100%;
  height: 100%;
  display: block;
}

.spinner {
  width: 4em;
  height: 4em;
  background: $primary-color;
  border-radius: 50%;
  margin: -2em 0 0 -2em;
  border: .3em solid transparent;
  animation: glow 1s ease infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 .4em $primary-color, 0 0 0 .1em $primary-color;
    transform: rotate(360deg);
  }

  50% {
    border-top-color: $white-color;
  }

  100% {
    box-shadow: 0 0 0 .4em $primary-color, 0 0 0 3.6em transparent;
  }
}

.message {
  margin: 20px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
}