@mixin laptop {
  @media only screen and (max-width:  1024px) {
    @content
  }
}

@mixin tablet {
  @media only screen and (max-width:  768px) {
    @content
  }
}

@mixin mobile {
  @media only screen and (max-width:  425px) {
    @content
  }
}