$black-color: #34404b;
$primary-color: #ff5912;
$bg-color: #f4f6f8;
$font-color: #43515d;
$white-color: #fff;
$border-color: #edeff1;
$disabled-color: #ff5912ab;

$am-ex-color: #1d8ece;
$am-ex-color-lighter: #1d8ece80;
$pay-pal-color: #f05333;
$pay-pal-color-lighter: #f0533380;
$visa-color: #f7b700;
$visa-color-lighter: #f7b70080;
$master-card-color: #fb001b;
$master-card-color-lighter: #fb001b80;
$amazon-pay-color: #f8de7e;
$amazon-pay-color-lighter: #f8de7e80;

//paddings
$content-padding: 12%;
$wrapper-padding: 6%;
$standart-bottom-padding: 10px;

//borders
$main-border: 1px solid $border-color;

//margins
$container-nav-margin: 5px;

//widths
$main-container-width: 1180px;


