$black-color: #34404b;
$primary-color: #ff5912;
$bg-color: #f4f6f8;
$font-color: #43515d;
$white-color: #fff;
$border-color: #edeff1;


//paddings
$content-padding: 12%;
$standart-bottom-padding: 10px;
$main-border: 1px solid $border-color;
