<div [id]='chat.chatId' class="main-chat-view" [ngStyle]="{'transform': 'translate(' + -ind*15 + 'px, ' + -ind*15 + 'px)'}">
<div (click)="minimizeToggle()" class="chat-header default-icon" *ngIf="isMinimized">
    <h5>{{chat.chatName}}: 14</h5>
</div>
<div *ngIf="!isMinimized" cdkDrag class="chat-container">
  <div *ngIf="!isChatSettings; else chatSettingsContainer">
    <div cdkDragHandle class="chat-header">
      <button (click)="minimizeToggle()" class="minimize-icon"><i class="far fa-window-minimize"></i></button>
      <h5 cdkDragHandle>{{chat.chatName}}</h5>
      <div class="chat-button">
        <button (click)="toggleUsersList()" class="user-icon"><i class="fas fa-users-cog"></i></button>
        <button (click)="chatSettings()" class="settings-icon"><i class="fas fa-cog"></i></button>
      </div>
    </div>
    <div [ngClass]="{'show-users': isUsersShowed, 'hide-users': !isUsersShowed}">
      <div class="user-status" *ngFor="let user of users">
        <div class="status" [ngClass]="{'online': isOnline, 'offline': isOffline}"></div>
        <h6>{{user.name}}</h6>
      </div>
    </div>
    <div [class]="'conversation-' + chat.chatId">
      <div class= "message" *ngIf="pass">You just started new chat. To let other users join this chat, please share with them join code: {{pass}}</div>
      <!-- <div *ngIf="somebodyJoined">{{somebodyJoined}}Your name in the chat</div> -->
    </div>
    <div class="chat-content chat-messages" *ngIf="!isMinimized">
        <input [id]="'input-' + chat.chatName" type="text" placeholder="Type something here" #message autofocus>
        <button class="btn btn-send-message" (click)="sendMes(chat.chatName)">Send</button>
    </div>
  </div>
</div>

<ng-template #chatSettingsContainer>
  <div class="chat-header settings">
    <button (click)="returnToChat()" class="back-icon"><i class="fas fa-arrow-circle-left"></i></button>
    <h5 chat-title>Settings: {{chat.chatName}}</h5>
  </div>
  <div class="chat-content" *ngIf="!isMinimized">
    <label>Change {{chat.chatName}}:</label>
    <input type="text" placeholder="enter new chat title" #newChatName>
    <input (click)="onEditChatName(chat.chatName, newChatName.value)" class="btn btn-new-title-chat" type="submit" value="Set New Title">
    <!-- <input (click)="editChatName(chat.chatName, newChatName.value)" class="btn btn-new-title-chat" type="submit" value="Set New Title"> -->
    <h6>Manage chat participants</h6>
    <div class="chat-participants" *ngFor="let user of users">
      <div class="participant">
        <h6>{{user.name}}</h6>
        <button class="btn btn-remove-user">remove from chat</button>
      </div>
    </div>
    <button class="btn btn-remove-chat">Finish This Chat</button>
  </div>
</ng-template>
</div>

