@import '../../../../../scss/mixins';
@import '../../../../../scss/variables';
@import '../../../../../scss/fonts';
@import '../../../../../scss/reset';

h2 {
  font-family: $main-font-bold;
  font-size: $font-size-heading;
  padding-top: 7%;
  padding-bottom: 14%;
}

hr {
  border: none;
  border-left: $main-border;
  height: 56px;
  width: 1px;   
  margin: 16px 4% 0 2%;    
}

.product-item-wrapper {
  position: relative;
  cursor: pointer;
  
}

.product-item-short {
  max-width: 370px;
  height: 156px;
  background-color: $white-color;
  display: flex;
  padding: 11% 4% 12% 2%;
  user-select: none;
  cursor: pointer;
  outline: none;
  margin: 0px 5px 0px 18px;
  
   &:hover {
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
   }
}

.preview-img-short {
  width: 40%;
  background: url('../../../../../assets/img/default.png') no-repeat center;
  background-size: contain;
}

.item-details {
  font-family: $main-font-bold;
  font-size: $font-size-regular;
  color: $primary-color;
  display: flex;
  justify-content: space-between;
  text-align: center;

  a {
    width: 100%;
    color: $font-color;
    text-align: center;
  }
}

.cart {
  color: $font-color;
  
  &:hover {
    color: $primary-color;
  }
  
  &.added {
    color: $primary-color;
  }
}

.stars {
  font-size: $font-size-small;

  i {
    color: $border-color;
    
    &.rating {
      color: $primary-color;
    }
  }
}

.gray-scale{
  filter: grayscale(1);
  opacity: 0.5;
  pointer-events: none;
}

.out-of-stock-logo {
  top: 10px;
  right: 25%;
  width: 26%;
  padding-top: 100%;
  position: absolute;
  background: url('../../../../../assets/img/out_stock_en.png') no-repeat top;
  background-size: contain;
  transform: rotate(29deg);
  z-index: 10;
}

@include tablet {
  .product-item-wrapper {
    pointer-events: none;
  }
  
  .product-item-short {
    margin: 10px auto;
  }
}