@import '../../../../scss/variables';
@import '../../../../scss/fonts';
@import '../../../../scss/reset';
@import '../../../../scss/mixins';

.main-container {
  padding: 120px $content-padding 0;
  background-color: $bg-color;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 30px;
}

app-product-grid {
  background-color: $bg-color;
  width: 100%;
}

@include tablet {
  .main-container {
    grid-template-columns: 1fr;
  }
}