<div class="main-container-wrapper">
  <div class="main-container">
    <div class="filters">
      <app-faceted-navigation *ngIf="filters.length" [filters]="filters" [defaultParams]="queryParams"></app-faceted-navigation>
    </div>
    <app-grid [showLoadMore]="showLoadMore" (loadMore)="onLoadMore($event)">
      <div class="product" *ngFor="let product of products;">
        <app-product-item (addItemToWishList)="wishListHandler($event)" [product]="product"></app-product-item>
      </div>
    </app-grid>
  </div>
</div>

<app-join-us></app-join-us>
